
@import "./bootstrap/less/bootstrap.less";
@import "./font-awesome/less/font-awesome.less";

.wut {
	color: "blue"
}

.hv-sidebar {
	height: 100vh;
	width: 8%;
	/*background-color: #83C6EF;*/
	min-width: 80px;
	border-right: 2px solid rgba(0, 0, 0, 0.18);
}

.hv-navbar {
	height: 45px;
	background-color: rgba(101, 38, 0, 0.66);
	a {
		color: white;
		text-align: center;
		font-size: 20px;
		width: 100%;
		float: left;
	}
}

.hv-navitem {
	width: 100%;
	height: 80px;
	background-color: #FFECD8;
	float: left;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.search-input {
  width: 100%;
}

.container {
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

// Modal

.reveal-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.reveal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.47);
  z-index: 100;
}
.reveal,
.reveal-overlay {
	display: block !important;
}
.reveal {
  overflow-y: scroll;
  border-radius: 3px;
  padding: 20px;
  border: 6px solid rgba(43, 43, 43, 0.85);
	position: relative;
  z-index: 101;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%;
  height: 500px;
	.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: white
	}
  .has-error .error {
    z-index: 10;
  }
  .actions {
    text-align: right;
  }
}
.reveal-title {
	font-weight: bold;
  background-color: grey);
  color: grey;
  .action {
    font-weight: normal;
    display: block;
    color: grey;
  }
}

.logo {
  float: left;
  height: 50px;
  margin-top: 12px;
  padding-right: 10px;
}

.app-header {
  width: 100%;
  float: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  background-color: #3a3a3a;
  // background-color: rgb(105, 105, 105);
  h2 {
    color: whitesmoke;
  }
}

.db-style {
  // padding: 10px 0;
  border-right: 1px solid rgba(204, 204, 204, 0.43);
  color: #696969;
  // padding-left: 5px;
  &:hover {
    border-right: 5px solid rgba(204, 204, 204, 0.43);
    padding-left: 5px;
    .db-connect {
      display: block;
    }
  }
}

.dbactive {
  // padding: 10px 0;
  border-right: 5px solid rgba(14, 148, 14, 0.53);
  color: #696969;
  // padding-left: 5px;
  // background-color: rgba(234, 234, 234, 0.5);
  .db-connect {
    color: green;
    display: block;
  }
  &:hover {
    border-right: 5px solid rgba(14, 148, 14, 0.2);
  }
}

.db-connect {
  padding: 12px;
  display: none;
}

.collection {
  padding-left: 10px;
}

.connection-row-editing {
  padding: 7px 10px;
  .form-control {
    height: 30px;
  }
}

.connection-row, .connection-header {
  padding: 10px;
}

.connection-hover:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.07);
}

.connection-button {
  padding: 5px;
}

#conninput {
  padding: 0;
  background-color: transparent;
  border: none;
}

textarea {
  resize: vertical;
}

.page {
  text-align: center;
  width: 30px;
  display: inline-block;
  padding: 5px;
  color: grey;
}

.active-page {
  font-weight: bold;
}

.json-pagination {
  float: right;
}

.loading-banana>img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading-banana>div {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
}

.loading-db>img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.suggestion {
  // background-color: rgba(45, 45, 175, 0.08);
  // color: #BBB3B3;
  // padding: 2px 10px;
    // background-color: white;
  color: grey;

}

.suggestion-active {
  color: blue !important;
}

.suggestion:first-child {
  border-radius: 5px 5px 0 0;
}

.suggestion:last-child {
  border-radius: 0 0 5px 5px;
}

.suggestionContainer {
  display: inline-block;
  border: 1px solid #CCC;
  background-color: whitesmoke;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
